@model MvcVirtualPets.Models.Pet
@{
    Layout = null;

 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pet Details for @Model.Name</title>
</head>
<body>
    <h1>@Model.Name's Details</h1>
    <p>Stuff goes here.</p>

    

    <a href="/Pet">Back to List</a>
</body>
</html>
