@model IEnumerable<MvcVirtualPets.Models.Pet>
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <h1>Pet List</h1>
    <p>
        Here's all your pets.
        </p>
    <ol>
        @foreach (var pet in Model)
        {
            <li><a href="/Pet/Details/@pet.Id">@pet.Name</a></li>
        }

    </ol>
  </body>
</html>
